@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #white;
}


/*Top Navigation style*/
li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 17px;
	color: #edf0f1;
}

header {
	background-color: black;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	position: fixed;
	width: 100%;
	z-index: 1;
}


.logo {
	width: 80px	
}


.nav__links li {
	margin-left: 0px;
	display: inline;
	padding: 10px 25px;
}

.nav__links li a:hover {
	color: #FF756C;
}



button {
	padding: 9px 25px;
	background-color: #B8860B;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

button:hover {
	background-color: #A9750A;
}

/*video*/


.film {
	width: 100%;
}






