/*General style*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	background-color: #white;
}


/*Top Navigation style*/
li, a, button {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 17px;
	color: #edf0f1;
}

header {
	background-color: #030200;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	position: fixed;
	width: 100%;
	z-index: 1;
}


.logo {
	width: 80px	
}


.nav__links li {
	margin-left: 0px;
	display: inline;
	padding: 10px 25px;
}

.nav__links li a:hover {
	color: #FF756C;
}



button {
	padding: 9px 25px;
	background-color: #B8860B;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	transition: all 0.3 ease 0s;
}

button:hover {
	background-color: #A9750A;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

/* slideshow*/

.mySlides {
	width: 100%;
}

.container {
	position:relative;
}

.center {
	position:text;
	top: 50%;
	left: 50%;
	transform: translate (-50%, -50%);
}


h2 {
	font-family: 'Indie+Flower', cursive;
	font-size: 50pt;
	position: absolute;
	color: white;
	text-align: center;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
	max-height: 50px
	z-index: -1;
}

mark.yellow {
	color: gold;
	background: none;
	font-size: 20pt;
}


.container{
	display:flex;
}

/*Video Section*/

video {
	width: 650px;
	margin: 100px 50px;

}

@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,600&display=swap');

.text-col {
	width: 550px;
	margin: 100px 50px;
	margin-left: 40pt;
	font-size: 16pt;
}

h1{
	font-size: 20pt;
	margin-bottom: 15pt;
	font-family: "Crimson Text", sans-serif;
}


.date{
	font-size: 13pt;
	margin-bottom: 10pt;
	margin-left: 60pt;
	background: none;
	font-family: "Crimson Text";
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,600&display=swap');

.quote {
	font-family: 'Playfair', cursive;
	text-align: center;
	background-color: #D7DBDD;
	padding: 5pt;

}

.quote:hover +.quotehover {
	display: block;
	font-family: 'Playfair', cursive;
	text-align: center;
	background-color: #D7DBDD;
}

.quotehover {
	display: none;
}


.introvideo {
	margin-top: 15pt;
}

/*linkto other website*/

.holder-box {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: black;
	/*margin: 0 auto;*/

}

.Box1, .Box2, .Box3 {
	width: 33.33%;
	height: 300pt;
	margin-top: 1pt;
	margin-left: 0.5pt;
	margin-right:0.5pt;
	background-color: white;
}


h3 {
	text-align: right;
	padding: 20pt;
	background-image: linear-gradient(#09203f,#537895);
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;
  	color: white;
  	font-size: 15pt;
}

h4 {
	text-align: right;
	padding: 20pt;
	background-image: linear-gradient(#422419,#B82E1F);
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;  
  	color: white;
  	font-size: 15pt;

}

h5 {
	text-align: right;
	padding: 20pt;
	background-image: linear-gradient(#504c04,#fba60a);
  	border-bottom-left-radius: 50% 20%;
  	border-bottom-right-radius: 50% 20%;
  	color: white;
  	font-size: 15pt;

}





.bio-pic {
	width: 100px;
	height: 100px;
	background-color: orange;
	margin:5px auto;
}



.cast {
	width:320px;
	margin: 15px;
	margin-left: 90px;
    display: block;

}

.movie {
	width:350px;
	margin: 20px;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-left: 60px;
}

.review{
	width:170px;
	margin-top: 20px;
	margin-left: 100pt;
    display: block;
}

.reviewer{
	width:220px;
	margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 100pt;
    display: block;

}

.linkbtn {
  position: relative;
  margin-left: 30pt;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.linkbtn:hover {
	background-color: white;
	color: black;
}


/*footer*/

footer {
	width: 100%;
	height: 250px;
	background-color: black;
	font-family: "Montserrat", sans-serif;
	color: white;
	text-align: center;
	font-size: 17pt;
}

.bordercontact {
	border: 1.5px solid white;
	background:none;
	padding: 7pt;
	color: white;
}

.fa{
	width: 40pt;
	right-margin: 20pt;
	padding-top: 45pt;
}

.fa:hover {
	opacity: 0.7;
}

.mailicon {
	width: 38px;
}

.putup{
	position: relative;
	top: -10px;
	color: white;
	background: none;
}


